body {

    font-family: sans-serif;
    padding: 2rem;
    background-color: powderblue;
    color: #333;

    /* Created two EQUAL columns */
    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

}